.kontejner{
    -fx-background-color: rgba(0,255,0,0.5);
    -fx-padding: 10 10 10 10;
    -fx-text-fill: white;
    -fx-min-height: 120;
    -fx-start-margin: 10;
}

.kontejner:hover{
    -fx-background-color: rgba(0,255,0,0.8);
}


.text-area{
    -fx-text-fill: rgba(0,255,0,1.0);
    -fx-background-color: rgba(0,0,0,1.0);
    -fx-font-family: "Courier New";
}

.nadpis{
    -fx-text-fill: white;
    -fx-font-size: 26;
    -fx-start-margin: 10;
    -fx-border-color: rgba(0,200,0,1.0);
    -fx-border-width: 3;
    -fx-font-style: oblique;
}
.nazevMistnosti{
    -fx-font-size: 30;
    -fx-font-style: oblique;
}

.label {
    -fx-text-fill: white;
}

.menu-bar{
    -fx-background-color: black;
}
